@import "../colors";

.container {
  display: flex;
  align-items: flex-start;
  // justify-content: space-between;
  gap: 48px;

  .img,
  .text {
    flex: 1;
  }
}
.img {
  .readMoreText {
    display: none;
  }
}

.text {
  // padding: 0 6rem;
  display: flex;
  flex-direction: column;
  .para {
    color: rgba(251, 251, 251, 0.8);
  }

  .readMoreText {
    margin-top: 120px;
  }
}

.heading {
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  color: $white;
}

.readMoreText {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: $white;
  cursor: pointer;
  width: fit-content;
  // margin: 1.9rem;
}

@media screen and (max-width: 550px) {
  .heading {
    font-size: 16px;
    line-height: 30px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 18px;
    .img,
    .text {
      flex: unset;
    }

    .text {
      text-align: center;
      .readMoreText {
        display: none;
      }
    }

    .img {
      width: 100%;
      order: 1 !important;
      .readMoreText {
        display: flex;
        margin-top: 16px;
        div {
          font-size: 16px !important;
        }
      }
    }

    .readMoreText {
      text-align: center;
      margin: 0 auto;
      font-size: 2.5rem;
    }
  }
}


@media screen and (min-width: 550px) and (max-width: 1177px){
  .heading{
    font-size: 30px;
  }
  .container{
    gap: 10px;
  }
.readMoreText{
  margin-top: unset !important;
}
}