@import "../colors";

.container {
  display: flex;
  align-items: flex-start;
  // justify-content: space-between;
  gap: 22px;

  .img,
  .text {
    flex: 1;
  }
}

.text {
  padding: 0 60px;
}

.heading {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  color: $white;
}

.readMoreText {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: $white;
  margin: 19px;
}
