@import "../colors";

.border,
.active {
  background-color: transparent;
  width: 100%;
  height: 4px;

  border-radius: 6px 0px 0px 6px;
  transition: 0.3s box-shadow;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    .border {
      background: rgba(1, 143, 106, 0.85);
      box-shadow: 0px 7px 45px 10px rgba(169, 255, 233, 0.4);
    }
  }
}

.active {
  background: rgba(1, 143, 106, 0.85);
  box-shadow: 0px 7px 45px 10px rgba(169, 255, 233, 0.4);
}
.button {
  // background-color: $orange;
  color: #fff;
  width: 100%;
  // box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
}
