.card {
  position: relative;

  .cardText {
    z-index: 10;
  }

  .cardDarkLayer {
    position: absolute;
    z-index: 9;
  }
}

.cardDarkLayer,
.card {
  background-color: rgba(15, 15, 15, 0.5);
  border-radius: 10px;
  height: 100%;
  width: 100%;

  &:hover {
    background-color: unset;
  }
}
