.carouselNavigation{
    display: flex;
    cursor: pointer;
    gap: 11px;
    svg{
        color: #C4C4C4;
        font-size: 8px;
    }

    .active{
        
            color: #888888;
            ;
    
    }
}