@import "../colors";
@import "../mixins.scss";

.heading2 {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 600;
  font-family: Outfit;
  font-style: normal;
  color: $white;
}

.caseStudies {
  min-height: 100vh;

  text-align: center;
  padding-top: 100px;

  .heading2 {
    line-height: 5rem;
  }
  .cardList {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 3.9rem 5.4rem;

    .cardItem {
      width: 42.7rem;
      height: 42.7rem;

      // background: rgba(15, 15, 15, 0.5);
      // border-radius: 10px;

      .caseStudiesCard {
        position: relative;
        background-color: gray;
        // font-family: Inter;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 5rem;
        letter-spacing: 0em;
        text-align: center;
        color: $white;
        padding: 5rem;
        @include centralized;
      }

      .cardImg3 {
        background-image: url("../../public/compressed/Defense-mask.png");
        // @include bg-norepeat-cover;
      }
      .cardImg1 {
        background-image: url("../../public/compressed/supplu-chain-mask-min.png");
      }
      .cardImg2 {
        background-image: url("../../public/compressed/industry-&-organisaion-mask.png");
      }

      .cardImg3,
      .cardImg1,
      .cardImg2 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

@media screen and (max-width: 1153px) {
  .caseStudies {
    padding-top: unset;
  }
  .protokolloBg1 {
    display: none;
  }

  .cardList {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 1153px) and (min-width: 654px) {
  .cardItem {
    height: 60rem !important;
    width: 60rem !important;
  }
}

@media screen and (max-width: 654px) {
  .cardList {
    padding: 5rem;
  }
  .cardItem {
    // display: none;
    // height: 90% !important;
    width: 90% !important;
    // margin: 5rem;
  }
}
