@import "../colors";

.container {
  display: flex;

  border-top: 1px solid rgba(228, 228, 231, 0.05);
  border-bottom: 1px solid rgba(228, 228, 231, 0.2);
}

.footer {
  flex: 1;

  padding-top: 4.5rem;
  padding-bottom: 6.9rem;
  color: $white;
  display: flex;
  justify-content: space-around;

  .header {
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 7rem;
  }

  .listItem {
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    color: #e4e4e799;
  }
  .connect {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .topSpacing {
    margin-top: 4rem;
  }
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: center;
}

.tradeMark,
.logoContainer,
.footerItem {
  flex: 1;
}

.tradeMarkText {
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 7rem;
  color: $white;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1161px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: flex-start;
    .footer {
      flex-direction: column;
      gap: unset;
    }
  }
  .listItem {
    line-height: 0;
  }
  .connect {
    .contactIcon {
      height: 4rem;
      width: 2rem;
    }

    flex-wrap: wrap;
    gap: unset;
    grid-gap: unset;

    span {
      word-break: break-all;
    }
  }

  .footerBottom {
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 0.5rem;
    gap: 1rem;

    .tradeMarkText {
      line-height: 1rem;
    }
  }
}
