@import "../colors";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
  height: 8rem;
  z-index: 10;
  position: relative;

  .logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    user-select: none;

    .logoImg {
      width: 100px;
    }
  }

  .navList {
    display: flex;
    width: 35%;
    justify-content: space-between;

    .navItem {
      font-weight: bold;
      display: flex;
      align-items: flex-end;
      cursor: pointer;

      span {
        font-size: 18px;
        font-weight: 600;
        color: rgba(251, 251, 251, 0.8);
      }

      svg {
        font-size: 2rem;
        font-weight: unset;
        color: rgba(251, 251, 251, 0.8);
      }

      &:hover {
        span,
        svg {
          color: $green;
        }
      }
    }
  }
}

.activeList {
  display: flex;
}

.navImg {
  display: none;
}

@media screen and (max-width: 460px) {
  .navList {
    width: 219px !important;
  }
}

@media screen and (max-width: 1019px) {
  .activeList {
    display: none !important;
  }

  .navImg {
    width: 28px;
    display: block;
  }
  .header {
    padding: 5rem 0;
  }
  .navList {
    position: absolute;
    flex-direction: column;
    top: 7.5rem;
    right: 5rem;
    background-color: black;
    padding: 1rem;
    border-radius: 5px;
    gap: 3rem;
    max-height: 50rem;
    overflow-y: scroll;
  }

  .navItem {
    align-items: center !important;

    svg {
      font-size: 14px !important;
    }
  }

  .loginContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
    width: 100%;

    .logo {
      font-size: 16px;
    }

    .logoImg {
      width: 15rem !important;
    }
  }
}
