@import "../colors";

.container {
  position: relative;
}

.navDropDown {
  position: absolute;
  top: 150%;
  background-color: $black;
  color: #fff;
  width: 250px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  z-index: 20;
}

.ddList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ddItem {
  overflow-wrap: break-word;
  width: fit-content;
}

.itemOption,
.itemHeading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.itemHeading {
  font-weight: 600;
}
.itemOption {
  font-weight: normal;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
}
.itemHeading,
.itemOption {
  cursor: pointer;
}

@media screen and (max-width: 853px) {
  .navDropDown {
    background-color: unset;
    box-shadow: none;
    padding: unset;
    padding: 2rem 0 2rem 2rem;
    width: unset;
    position: unset;
  }

  .ddList {
    gap: 2rem;
  }
}
