@import "./mixins.scss";
@import "./colors";

.landing {
  background-image: url("../public/ai-bg.png");

  @include bg-norepeat-cover;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

// .darkLayer {
//   position: absolute;
//   background: rgba(52, 52, 52, 0.64);
//   width: 100%;
//   height: 100%;
// }

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: initial;
  padding: 0 3.5rem;
  flex: 1;
  z-index: 2;
}

.landingText {
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $white;
  width: 110.4rem;
  font-family: "Outfit";
  font-style: normal;
  line-height: 8rem;
  text-align: center;
}

.chart {
  margin: 10rem 6rem;
}
.chartImg {
  margin: auto;
  width: fit-content;
}

// salient feature section

.sf {
  margin-top: 8.5rem;
  .heading {
    text-align: center;
  }
}

.heading {
  font-family: "Outfit";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: 0em;
  color: $white;
  //   text-align: center;
  margin-bottom: 2.2rem;
  margin-top: 8rem;
}

.sfList {
  color: $white;
  display: flex;
  justify-content: space-evenly;
}

.sfItem {
  text-align: center;
}

.sfText {
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  width: 19.4rem;
  margin-top: 1rem;
  color: $text_light;
}

.glassCard {
  @include glassCard;
  background: #0f0f0f;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  position: absolute;
  @include glowCircle;
  z-index: 5;
}

.circle1 {
  position: absolute;
  width: 14.9rem;
  height: 14.9rem;
  left: -7.6rem;
  top: 18.8rem;
}
.circle2 {
  width: 20.8rem;
  height: 20.8rem;
  left: 20rem;
  top: -15.4rem;
}
.circle3 {
  width: 11.5rem;
  height: 11.5rem;
  left: 66.2rem;
  top: 23.3rem;
}

.circle4 {
  width: 12.9rem;
  height: 12.9rem;
  right: 7rem;
  top: 15rem;
}

// card section
.cardList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 8rem 6rem;
  gap: 2.5rem;
}

.platformCard {
  width: 65rem;
  height: 73.9rem;
  background: #0f0f0f;
  border-radius: 1rem;
}

.platformCardImage {
  border-radius: 10px 10px 0px 0px;
}

.platformTextContainer {
  padding: 2.2rem 5.3rem;
  text-align: center;
  color: rgba(228, 228, 231, 0.8);
}

.platformCardHading {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  padding-bottom: 3.9rem;
}

.platformCardText {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
}

// software section
.software {
  .heading {
    text-align: center;
  }
}

.sCards {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 15.9rem;
  margin-bottom: 10rem;
}

.sCard {
  display: flex;
  // width: 1440px;
  height: 37.4rem;
  background: #0f0f0f;
  color: rgba(228, 228, 231, 0.8);
  align-items: flex-end;

  &:first-child {
    .sCardImg {
      height: 122%;
    }
  }

  &:nth-child(2) {
    .sCardImg {
      order: 2;
    }
    .sCardImg {
      span {
        border: 3px solid #9e9e9e !important;
        box-sizing: border-box !important;
        border-radius: 10px 10px 0px 0px !important;
        width: fit-content !important;
        border-bottom: none !important;
      }
    }
  }

  &:last-child {
    align-items: center;
  }
}

.sCardImg,
.sCardText {
  flex: 1;
  display: flex;
  justify-content: center;
}

.sCardText {
  flex-direction: column;
  height: 100%;
  gap: 1.9rem;
}

.sCardHeading {
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}

.sCardSummary {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
.sCardSummary,
.sCardHeading {
  width: 55.8rem;
}
// case study section
.cs {
  padding: 10rem 5rem;
}
.csItem {
  display: flex;
  gap: 2rem;
  margin-bottom: 6.4rem;
}
.csText,
.csImg {
  flex: 1;
}

.csHeading {
  font-family: "Outfit";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  color: $white;
}

.csSummary {
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0em;
  text-align: justified;
  color: rgba(228, 228, 231, 0.6);
}

.order1 {
  order: 1;
}

.alignEnd {
  align-items: flex-end;
}

@media screen and (max-width: 450px) {
  .landing {
    background-position: center;
  }
  .chart {
    margin: 5rem 2rem;
  }
  .sf {
    .circle3 {
      top: 70%;
      left: 40%;
    }
    .circle2 {
      top: -10%;
      left: 10%;
    }
    .circle1 {
      top: 50%;
    }

    .sfList {
      flex-direction: column;
      gap: 5rem;

      .sfItem {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .software {
    .sCards {
      .sCardImg {
        width: 50%;
        height: unset;
        margin: auto;
      }
      // gap: 50rem;
      .sCard {
        padding-top: 5rem;
        padding-bottom: 5rem;
        flex-direction: column;
        gap: 5rem;
        height: unset;

        align-items: center;

        &:first-child {
          .sCardImg {
            height: unset;
            width: 40%;
            margin: auto;
          }
        }

        &:nth-child(2) {
          .sCardImg {
            width: 50%;
            height: unset;
            margin: auto;
          }
        }
      }
    }
  }
  .cs {
    .csItem {
      flex-direction: column;
    }
    &:last-child {
      .csImg {
        order: 2;
      }
    }
  }
}
