@import "./mixins.scss";
@import "./colors";

.landing {
  background-image: url("../public/cryptocurrency-concept-with-bitcoin.svg");
  @include bg-norepeat-cover;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: initial;
  padding: 0 3.5rem;
  flex: 1;
}

.landingText {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $white;
  width: 677px;
  font-family: "Outfit";
  font-style: normal;
  line-height: 80px;
}

// blockchain section

.blockchain {
  margin-top: 85px;
  .heading {
    text-align: center;
  }
}

.heading {
  font-family: "Outfit";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  color: $white;
  //   text-align: center;
  margin-bottom: 22px;
  margin-top: 80px;
}

.bList {
  color: $white;
  display: flex;
  justify-content: space-evenly;
}

.bItem {
  text-align: center;
}

.bText {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  width: 194px;
  margin-top: 1rem;
}

.glassCard {
  @include glassCard;
  background: #0f0f0f;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  position: absolute;
  @include glowCircle;
  z-index: 5;
}

.circle1 {
  position: absolute;
  width: 149px;
  height: 149px;
  left: -76px;
  top: 188px;
}
.circle2 {
  width: 208px;
  height: 208px;
  left: 200px;
  top: -154px;
}
.circle3 {
  width: 115px;
  height: 115px;
  left: 662px;
  top: 233px;
}

.circle4 {
  width: 129px;
  height: 129px;
  right: 70px;
  top: 150px;
}

// Protokollo section
.protokollo {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: center;
  .heading {
    text-align: center;
  }
}
.pImg {
  align-self: center;
}

.glowCircle {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 478px;
  height: 478px;
  background: rgba(35, 156, 124, 0.6);
  border: 3px solid rgba(251, 251, 251, 0.05);
  box-sizing: border-box;
  filter: blur(300px);
}

.pCards {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  gap: 20px;
}

.pCard {
  z-index: 10;
  background: #0f0f0f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 30px;
  flex: 1;
}

.pText {
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: $white;
}

.platformPic {
  height: 665px;
  margin: 70px 60px;

  background: #0f0f0f;
  border-radius: 10px;
}

// 0 knowledge proof
.kp {
  color: $white;
  padding-left: 65px;
  padding-right: 50px;
}

.kpImg {
  width: 538px;
  height: 435px;
}

.kpPoints {
  display: flex;
  margin-top: 28px;
}

.kpItem {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 49px;
}

.kpItemStyle {
  width: 4px;
  height: 77px;

  background: rgba(1, 143, 106, 0.85);
  box-shadow: -6px 0px 30px 8px rgba(169, 255, 233, 0.15);
  border-radius: 6px 0px 0px 6px;
  transform: rotate(180deg);
}
.kpText {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 708px;
  display: flex;
}

.cards {
  display: flex;
  align-items: center;
  gap: 21px;
}

.card {
  flex: 1;
  // width: 426px;
  height: 226px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;

  background: #0f0f0f;
  border-radius: 10px;
}

.cardHeading {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justified;
}

.cardText {
  width: 269px;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

// H/W section
.hardware {
  background-image: url("../public/global-connections-background-social-media-banner.png");
  @include bg-norepeat-cover;
  min-height: 735px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 109px;
}

.hwSummary {
  font-family: "Inter";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;

  color: $white;
  width: 729px;
}

// Software section
.software {
  height: 528px;
  background: #0f0f0f;
  border-radius: 10px;

  .heading {
    text-align: center;
  }
}

// case study section
.cs {
  padding: 100px 50px;
}
.csItem {
  display: flex;
  gap: 20px;
  margin-bottom: 64px;
}
.csText,
.csImg {
  flex: 1;
}

.csHeading {
  font-family: "Outfit";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  color: $white;
}

.csSummary {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: justified;
  color: $white;
}

.order1 {
  order: 1;
}
