@import "./mixins.scss";
@import "./colors";

.landing {
  background-image: url("../public/cryptocurrency-concept-with-bitcoin.png");
  @include bg-norepeat-cover;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: initial;
  padding: 0 3.5rem;
  flex: 1;
}

.landingText {
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $white;
  width: 67.7rem;
  font-family: "Outfit";
  font-style: normal;
  line-height: 8rem;
}

// blockchain section

.blockchain {
  margin-top: 8.5rem;
  .heading {
    text-align: center;
  }

  .featureIcon {
    width: 54px;
    margin: 0 auto;
  }
}

.heading {
  font-family: "Outfit";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: 0rem;
  color: $white;
  //   text-align: center;
  margin-bottom: 2.2rem;
  margin-top: 8rem;
}

.bList {
  color: $white;
  display: flex;
  justify-content: space-evenly;
}

.bItem {
  text-align: center;
}

.bText {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
  width: 19.4rem;
  margin-top: 1rem;
  color: rgba(251, 251, 251, 0.8);
}

.glassCard {
  @include glassCard;
  background: #0f0f0f;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  position: absolute;
  @include glowCircle;
  z-index: 5;
}

.circle1 {
  position: absolute;
  width: 14.9rem;
  height: 14.9rem;
  left: -7.6rem;
  top: 18.8rem;
}
.circle2 {
  width: 20.8rem;
  height: 20.8rem;
  left: 20rem;
  top: -15.4rem;
}
.circle3 {
  width: 11.5rem;
  height: 11.5rem;
  left: 66.2rem;
  top: 23.3rem;
}

.circle4 {
  width: 12.9rem;
  height: 12.9rem;
  right: 7rem;
  top: 15rem;
}

// Protokollo section
.protokollo {
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: center;
  .heading {
    text-align: center;
  }
}
.pImg {
  // width: 54px;
  align-self: center;
}

.pCards {
  .pImg {
    width: 54px;
  }
}

.glowCircle {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 47.8rem;
  height: 47.8rem;
  background: rgba(35, 156, 124, 0.6);
  border: 3px solid rgba(251, 251, 251, 0.05);
  box-sizing: border-box;
  filter: blur(300px);
}

.pCards {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  gap: 2rem;
}

.pCard {
  z-index: 10;
  background: #0f0f0f;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem;
  flex: 1;
}

.pText {
  font-family: "Inter";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: $text_light;
}

.platformPic {
  height: 66.5rem;
  margin: 7rem 6rem;

  background: #0f0f0f;
  border-radius: 1rem;
}

// 0 knowledge proof
.kp {
  color: $white;
  padding-left: 6.5rem;
  padding-right: 5rem;
}

.kpImg {
  width: 53.8rem;
  height: 43.5rem;
}

.kpPoints {
  display: flex;
  margin-top: 2.8rem;
}

.kpItem {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 4.9rem;
}

.kpItemStyle {
  width: 0.4rem;
  height: 7.7rem;

  background: rgba(1, 143, 106, 0.85);
  box-shadow: -6px 0px 30px 8px rgba(169, 255, 233, 0.15);
  border-radius: 6px 0px 0px 6px;
  transform: rotate(180deg);
}
.kpText {
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  width: 70.8rem;
  display: flex;
  flex: 1;
  color: $text_light;
}

.cards {
  display: flex;
  align-items: center;
  gap: 2.1rem;
}

.card {
  flex: 1;
  // width: 426px;
  height: 22.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;

  background: #0f0f0f;
  border-radius: 1rem;
}

.cardHeading {
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: justified;
}

.cardText {
  width: 26.9rem;
  font-family: "Inter";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  color: $text_light;
}

// H/W section
.hardware {
  background-image: url("../public/global-connections-background-social-media-banner.png");
  @include bg-norepeat-cover;
  min-height: 73.5rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 10.9rem;
}

.hwSummary {
  font-family: "Inter";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.4rem;
  opacity: 0.6;
  color: $white;
  width: 72.9rem;
}

// Software section
.software {
  height: 52.8rem;
  background: #0f0f0f;
  border-radius: 1rem;

  .heading {
    text-align: center;
  }
}

// case study section
.cs {
  padding: 10rem 5rem;
}
.csItem {
  display: flex;
  gap: 2rem;
  margin-bottom: 6.4rem;
}
.csText,
.csImg {
  flex: 1;
}

.csHeading {
  font-family: "Outfit";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  color: $white;
}

.csSummary {
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0em;
  text-align: justified;
  color: $text_light;
}

.order1 {
  order: 1;
}

.displeNone {
  display: none;
}

@media screen and (max-width: 650px) {
  .landing{
    background-image: url("../public/cryptocurrency-concept-with-bitcoin-sm.png");
   background-position: right;
  }
  .displeNone {
    display: block;
  }

  .textContainer {
    justify-content: center;
    text-align: center;
    padding: 0 6rem;
  }

  .landingText {
    font-size: 40px;
    line-height: 62px;
    width: unset;
    // padding: 0 7rem;
  }

  .blockchain {
    .bList {
      // flex-direction: column;
      gap: 5rem;
    }
    .bItem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .featureIcon {
      width: 40px;
      height: 40px;
    }

    .bText {
      font-size: 14px;
    }
  }

  .protokollo {
    .glowCircle {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 70%;
      height: 40%;
      background: rgba(35, 156, 124, 0.6);
      border: 3px solid rgba(251, 251, 251, 0.05);
      box-sizing: border-box;
      filter: blur(137px);
    }
    .pImg {
      width: 60%;
    }

    .pCards {
      overflow-y: scroll;
      // flex-direction: column;
      &::-webkit-scrollbar{
        width: 0;
      }
      width: 100%;
      margin: auto;
      margin-top: 10px;
      gap: 15px;
      .pImg {
        width: 44px;
      }
    }
  }

  .kp {
    .heading{
      margin-top: 0;
    }
    .kpImg,
    .kpText {
      width: unset;
      font-size: 14px;
      line-height: 20px;
    }
    .kpImg {
      order: 1;
      width: 100%;
      height: 100%;
      margin-bottom: 3rem;
    }
    .kpList {
      order: 2;
      flex-direction: column;
    }

    .kpPoints {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  .cards {
    // flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 2px;
    }
    .card {
      padding-top: 2rem;
      padding-bottom: 2rem;
      min-width: 219px;
      min-height: 190px;

      .cardText {
        text-align: center;
        width: 90%;
        font-size: 14px !important;
        line-height: 20px;
      }
      .cardHeading {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }

  .hardware {
    padding: 0 4rem;
    text-align: center;

    .hwSummary {
      width: unset;
      font-size: 14px;
    }
  }

  .cs {
    text-align: center;
    .csSummary{
      font-size: 14px;
      line-height: 20px;
      padding-top: 10px;
      
    }
    .csItem {
      flex-direction: column;
    }
    &:last-child {
      .csImg {
        order: 2;
      }
    }
  }
}
