@import "./colors";
@import "./mixins.scss";

.heading1 {
  font-family: Outfit;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  // line-height: 60px;
}

.landingContainer {
  background-image: url("../public/medium-shot-man-wearing-vr-glasses.png");
  @include bg-norepeat-cover;
}

.landingPage {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: 533px;
  padding-top: 6rem;
  padding-bottom: 8.8rem;
  .heading1 {
    width: 537px;
  }

  .landingText {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    width: 636px;
  }
}

.blog {
  padding: 42px 54px;

  .para {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    width: 876px;
  }
}

.preview {
  width: 748px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 80px;
}

.title {
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

.body {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: rgba(251, 251, 251, 0.8);

  padding-top: 23px;
  padding-bottom: 23px;
}

.img {
  padding-top: 12px;
}

.authorDetails {
  display: flex;
  justify-content: space-between;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #fbfbfb99;
  padding: 12px 0;
  border-bottom: 1px solid;
}

.readMore {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}

.container {
  @media screen and (max-width: 1140px) {
    width: unset;

    .heading1 {
      width: unset;
      font-size: 42px;
    }

    .para {
      font-size: 24px;
    }

    * {
      width: 100%;
      // margin: auto;
    }

    .para {
      width: 100%;
    }

    .priviewContainer,
    .blog {
      padding-left: 19px;
      padding-right: 19px;
    }
  }
}
