@import "./colors";
@import "./mixins.scss";

.heading1 {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0em;
  text-align: center;
}

.boldText {
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5rem;
}

.grayText {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: rgba(228, 228, 231, 0.6);
}

.landingContainer {
  background-image: url("../public/abstract-dark-blue-futuristic-digital-grid-background.png");
  @include bg-norepeat-cover;
  min-height: 533px;
  display: flex;
  flex-direction: column;
  background-position: center;
}

.landingPage {
  flex: 1;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 6rem;
  padding-bottom: 8.8rem;
  .heading1 {
    width: 53.7rem;
  }
  .landingText {
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center;
    width: 63.6rem;
    color: rgba(251, 251, 251, 0.8);

  }
}

.roles {
  margin-top: 6rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .heading1 {
    padding-bottom: 1.8rem;
  }
}

.roleList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .boldText {
    align-self: center;
    width: 40%;
  }
}

.roleItem {
  align-self: center;
  width: 40%;
  .boldText {
    align-self: center;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .heading1 {
    font-size: 40px;
    line-height: 50px;
    width: unset !important;
    padding: 0 20px;
  }
  .landingContainer {
    background-position: center;
    min-height: 497px;
   
    background-image: url("../public/abstract-dark-blue-futuristic-digital-grid-background-sm.png");

  }

  

  .landingText {
    width: 90% !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 23px !important;
   
  }

  .roles {
    padding: 5rem;
    .boldText {
      width: 100%;
      text-align: center;
    }
    .roleItem {
      width: 100%;
    }
  }
}
