@import "./mixins.scss";
@import "./colors";

.landing {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: $white;

  .stayImg {
    font-family: Outfit;
    font-size: 20rem;
    font-style: normal;
    font-weight: 700;
  }

  .quotes {
    display: flex;
    align-items: center;
    gap: 8px;

    .quoteText {
      font-family: Outfit;
      font-style: normal;
      font-weight: bold;
      font-size: 6rem;
      line-height: 6rem;
    }
  }

  .mainText {
    padding-left: 5rem;
    z-index: 20;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
  }

  .para {
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    margin-top: 3rem;
    width: 779px;
    color: $text_light;
  }

  .glowCircle {
    position: absolute;
    @include glowCircle;
    z-index: 2;
    width: 70rem;
    height: 50rem;
    left: 62.1rem;
    top: 8.3rem;
    filter: blur(60rem);
  }

  .devicesImg {
    position: absolute;
    width: 57.7rem;
    height: 28rem;
    right: 0;
    top: 19%;
    z-index: 5;
    background-image: url("../public/chokidrHW.png");
    transform: rotate(-0.13deg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// device list
.deviceList {
  background-color: rgba(7, 7, 7, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7rem;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      font-family: Inter;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 5rem;
      letter-spacing: 0em;
      text-align: center;
      color: $white;
    }
  }
}

// dhar
.heading {
  font-family: "Outfit";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: 0em;
  color: $white;
  margin-bottom: 2.2rem;
  margin-top: 8rem;
}
.dhar {
  position: relative;
  color: $white;
  padding-left: 6.2rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .chokidrBackImg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    // width: 235px;
    // height: 392px;
  }
}

.dharPoints {
  display: flex;
  margin-top: 2.8rem;
  z-index: 10;
}

.dharItem {
  display: flex;
  align-items: center;
  // gap: 2.5rem;
  // margin-bottom: 3.9rem;
}

// .dharItemStyle {
//   width: 4px;
//   height: 7.7rem;

//   background: rgba(1, 143, 106, 0.85);
//   box-shadow: -6px 0px 30px 8px rgba(169, 255, 233, 0.15);
//   border-radius: 6px 0px 0px 6px;
//   transform: rotate(180deg);
// }
.dharText {
  display: flex;
  .dharItemStyle {
    background: rgba(1, 143, 106, 0.85);
    box-shadow: -6px 0px 30px 8px rgba(169, 255, 233, 0.15);
    border-radius: 6px 0px 0px 6px;
    padding-right: 4px;
    margin-right: 25px;
    min-height: 46px;
  }
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  width: 70.8rem;
  display: flex;
  color: rgba(251, 251, 251, 0.8);
  margin-bottom: 20px;
  div {
    &:last-child {
      align-self: center;
      display: flex;
      align-items: center;
    }
  }
}

.dharQuote {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  // line-height: 18px;

  color: rgba(251, 251, 251, 0.8);
}

.dharSaid {
  text-align: right;
  font-size: 24px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 12px;
}

// features
.features {
  .feature {
    display: flex;
    align-items: center;
    color: $white;
    padding: 6.4rem;
    gap: 30px;

    .text,
    .img {
      flex: 1;
    }

    .img {
      display: flex;
      justify-content: center;
    }
    .flexStart {
      display: flex;
      justify-content: flex-start;
    }

    .para {
      font-family: Inter;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3rem;
      color: $text_light;
    }
  }
}

.order2 {
  order: 2;
}

// case studies
.subHeading {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0em;
  text-align: left;
}
.cs {
  display: flex;
  color: $white;
  padding: 10rem 6rem;

  .cards {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .cardLeft {
    display: flex;
    align-items: center;
    gap: 41px;
  }

  .card {
    padding: 3.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f0f0f;
    border-radius: 1rem;
  }

  .cardSq {
    width: 14.1rem;
    height: 14.4rem;

    border: 1px solid rgba(251, 251, 251, 0.1);
    box-sizing: border-box;
    border-radius: 1rem;
  }

  .cardHeading {
    font-family: Vollkorn;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 0em;
    text-align: left;
  }
  .cardSummary {
    font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: justified;
    max-width: 52.4rem;
  }

  .subHeading {
    flex: 0.3;
  }
}

@media screen and (max-width: 500px) {
  .landing {
    min-height: 498px;

    .glowCircle {
      filter: blur(26rem);
      left: 0;
    }

    .para {
      width: unset;
      text-align: center;

      font-size: 14px;
      line-height: 20px;
    }
    .devicesImg {
      margin-left: auto;
    }

    .stayImg {
      font-size: 80px;
      line-height: 20px;
    }

    .quotes {
      // flex-direction: column;
      justify-content: center;
      gap: 5px;

      .quoteText {
        font-family: Outfit;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 5rem;
      }
    }

    .mainText {
      justify-content: flex-end;
    }
  }

  .deviceList {
    padding-bottom: 20px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 2px;
    }
    gap: 6.8rem;
    align-items: flex-start;

    .img {
      width: 50px;
      height: 50px;
    }

    .text {
      margin-top: 12px;
      text-align: center !important;
      line-height: 15px !important;
    }
  }
  .dhar {
    // flex-direction: column;
    .dharList {
      width: 251px;
      .dharText {
        font-size: 14px !important;
        line-height: 20px;
      }
    }
    .chokidrBackImg {
      position: absolute;
      top: 0;
      right: -135px;
      z-index: 1;
      width: 235px;
      height: 573px;
    }

    // padding: 0 2rem;
    padding-right: 0;
    position: relative;

    .dharQuote {
      font-size: 14px;
      line-height: 20px;
    }

    .dharSaid {
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 25px;
      padding-right: 20px;
    }
    .dharText {
      padding-right: 20px;
    }

    .heading {
      font-size: 18px;
      line-height: 60px;
      color: rgba(251, 251, 251, 0.9);
      margin: 0;
    }
  }

  .dharPoints {
    position: relative;
    overflow-x: hidden;
  }

  .dharText {
    width: fit-content;
  }
  // .dharPoints,
  .features {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 35px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 2px;
    }

    .feature {
      min-width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      padding: 0;

      .para {
        line-height: 20px;
      }
    }
    .img {
      // order: -1;
      width: 100%;
    }

    .flexStart {
      // display: unset !important;
      justify-content: center !important;
    }

    .text,
    .img {
      flex: unset !important;
    }

    .text {
      order: -1 !important;
      width: 80%;
      text-align: center !important;
    }

    .para {
      margin-top: 10px;
      font-size: 14px !important;
    }
    .para,
    .subHeading {
      text-align: center !important;
    }
  }
  .cs {
    flex-direction: column;
    gap: 5rem;
    .card {
      gap: 0.9rem;
    }
    .cardLeft {
      gap: 2rem;
    }
  }

  .mainText {
    margin-top: 63px;
    padding: 5rem;
    z-index: 0 !important;
    padding-left: 17px !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .landing {
    min-height: 498px;
    overflow: hidden;

    .glowCircle {
      filter: blur(150px);
      left: unset;
      right: 10%;
      width: 300px;
      height: 300px;
    }

    .para {
      width: 70%;
      text-align: left;
    }
    .devicesImg {
      position: absolute;
      width: 30rem;
      height: 18rem;
      right: 0;
      top: 20%;
      margin-left: auto;
    }

    .stayImg {
      font-size: 95px;
      line-height: 20px;
    }
  }

  .dhar {
    // flex-direction: column;
    .dharList {
      width: 70%;
      overflow: hidden;
      .dharText {
        font-size: 14px !important;
        line-height: 20px;
      }
    }
    .chokidrBackImg {
      position: absolute;
      top: 0;
      right: -135px;
      z-index: 1;
      width: 235px;
      height: 100%;
      span {
        height: 100% !important;
      }
    }

    padding: 0 2rem;
    padding-right: 0;
    position: relative;

    .dharQuote {
      font-size: 14px;
      line-height: 20px;
    }

    .dharSaid {
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 25px;
      padding-right: 20px;
    }
    .dharText {
      padding-right: 20px;
    }

    .heading {
      font-size: 18px;
      line-height: 60px;
      color: rgba(251, 251, 251, 0.9);
      margin: 0;
    }
  }

  .dharPoints {
    position: relative;
    overflow-x: hidden;
  }

  .dharText {
    width: fit-content;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1290px) {
  .landing {
    min-height: 498px;
    overflow: hidden;

    .glowCircle {
      filter: blur(150px);
      left: unset;
      right: 10%;
      width: 300px;
      height: 300px;
    }

    .para {
      width: 70%;
      text-align: left;
    }
    .devicesImg {
      position: absolute;
      width: 30rem;
      height: 18rem;
      right: 0;
      top: 20%;
      margin-left: auto;
    }

    .stayImg {
      font-size: 95px;
      line-height: 20px;
    }

    .quotes {
      .quoteText {
        font-family: Outfit;
        font-style: normal;
        font-weight: bold;
        font-size: 33px;
        line-height: 35px;
      }
    }
  }

  .dhar {
    .dharList {
      width: 70%;
    }

    .dharQuote {
      width: 80%;
    }
    .chokidrBackImg {
      position: absolute;
      top: 0;
      // right: -135px;
      z-index: 1;
      width: 275px;
      height: 100%;
      span {
        height: 100% !important;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 839px) {
  .deviceList{
    .item{
      .text{
        font-size: 14px;
line-height: 20px;
      }
    }
  }
  .features {
    .feature {
      display: flex;
      align-items: center;
      color: $white;
      padding: 2.4rem;
      gap: 30px;

      .subHeading {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 10px;
      }

      .text,
      .img {
        flex: 1;
        width: 50%;
      }

      .img {
        display: flex;
        justify-content: center;
        // width: 300px;
        // height: 300px;
      }
      // .flexStart {
      //   display: flex;
      //   justify-content: flex-start;
      // }

      .para {
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        color: $text_light;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .landing {
    min-height: 419px;


    .glowCircle {
      filter: blur(26rem);
      left: 0;
    }

    .para {
      width: unset;
      text-align: center;

      font-size: 14px;
      line-height: 20px;
    }
    .devicesImg {
      margin-left: auto;
    }

    .stayImg {
      font-size: 80px;
      line-height: 20px;
    }

    .quotes {
      // flex-direction: column;
      justify-content: center;
      gap: 5px;

      .quoteText {
        font-family: Outfit;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
      }
    }

    .mainText {
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 912px) {
  .landing {
    .mainText {
      padding-left: 20px;
    }
    .stayImg {
      font-size: 80px;
    }
    .quoteText {
      font-size: 30px !important;
      line-height: 30px !important;
    }
  }
}

@media screen and (min-width: 498px) and (max-width: 558px) {
  .landing {
    .devicesImg {
      width: 45rem;
    }
  }
}

@media screen and (min-width: 1288px) and (max-width: 1448px) {
  .landing {
    .devicesImg {
      width: 45rem;
    }
  }
}


@media screen and (min-width: 839px) and (max-width: 1193px) {

  .deviceList{
    padding: 3rem !important;
    gap: 50px;
    overflow-x: scroll;
    &::-webkit-scrollbar{
      width: 0;
    }
.img{
  width: 50px;
}
    .item{
      width: 150px;
      &:nth-child(3){
        .img{
          display: flex;
          margin-bottom: 10px;
          justify-content: center;
          align-self: center;
            width: 80px !important;
        }
      }
    }

    .text{
      line-height: 30px !important;
    }
  }
  
}