@import "./colors";
@import "./mixins.scss";

.landingContainer {
  background-image: url("../public/polygonal-blue-abstract-background-shapes-network-neural-connections-big-data-neural-concept.png");
  background-repeat: no-repeat;
  min-height: 611px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.heading1 {
  font-family: Outfit;
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: 0em;
  text-align: center;
}
.heading {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
}

.para {
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  color: rgba(251, 251, 251, 0.8);
}

.readMoreText {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  color: rgba(251, 251, 251, 0.8);
  margin-bottom: 2rem;
}

.darkLayer {
  // background-color: rgba(0, 0, 0, 0.767);
  height: 100%;
}

.landingPage {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-bottom: 25rem;
  // background-color: red;
  gap: 20px;
  // margin-top: 6rem;
  flex: 1;
  height: 100%;

  .landingText {
    font-family: Inter;
    font-style: normal;
    margin: 0 auto;
    max-width: 60%;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 100px;
  }
}

.readMore {
  width: fit-content;
  height: 4.7rem;
  margin: 0 auto;
}

.support,
.demo {
  display: flex;
  padding: 10rem 6rem;
  align-items: center;
  .text,
  .img {
    flex: 1;
    
  }
  .img{
    .para{
      display: none;
    }
  }
  .readMore {
    margin: unset;
    margin-top: 4rem;
  }
}

.demo {
  .img,
  .text {
    flex: unset;
  }
  justify-content: space-between;
}

.help {
  width: 50%;
  text-align: center;
  margin: auto;
  .img {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 5rem 0;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
  }

  .label {
    margin: 3rem 0;
    background: #0f0f0f;
    border-radius: 1rem;
    padding: 1.8rem 6.4rem;

    // font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
  }
}

.colorGreen {
  color: $green;
}

.inspired {
  background-image: url("../public/silhouette-people-happy-time.png");
  @include bg-norepeat-cover;
  height: 47.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;

  .para {
    color: $white;
  }
}

.boldText {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
}

.boldPara {
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4rem;
  color: rgba(251, 251, 251, 0.8);
}

.partner {
  display: flex;
  padding: 9rem 6rem;
  gap: 4.4rem;
  align-items: center;

  .readMore {
    margin: unset;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .percent {
    font-family: Inter;
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.trust,
.contact {
  background: #0f0f0f;
  border-radius: 1rem;
  padding: 2rem 6rem;

  .boldText {
    margin-bottom: 2.7rem;
  }

  .boldText {
    text-align: center;
  }

  .list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    li {
      text-align: center;
      font-family: Inter;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 6.5rem;
      color: rgba(251, 251, 251, 0.8);
    }
  }
}

.contactIcon {
  width: 50px;
  margin: 0 auto;
}

.contact {
  .list {
    justify-content: space-around;
  }

  li {
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: justified;
    color: rgba(251, 251, 251, 0.8);
  }
}


  .demohead, .demoBtn, .supportHead{
    display: none;
  }


.partnerHead {
  display: none;
}

@media screen and (max-width: 450px) {
  .partnerHead {
    display: flex;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    /* or 375% */

    color: #fbfbfb;
  }
  .landingContainer {
    height: 497px;
    background-position: center;
    // align-items: center;
    .landingPage {
      padding: 5rem;
      margin: unset;
      justify-content: flex-end;
      height: 100%;
      .heading1 {
        width: 253px;
        font-size: 40px;
      }
    }

    .landingText {
      margin: unset;
      max-width: unset;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 100px;
    }
    .readMore {
      width: fit-content;
      align-self: center;
      height: unset;
      margin: unset;
      margin-bottom: 40px;
    }
  }

  .contact {
    .list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .trust {
    .list {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 2px;
      }
      gap: 58px;

      li {
        div:first-child {
          width: 70px;
          margin: auto;
        }
        .trustText {
          width: 100px;
          line-height: 25px;
        }
      }
    }
  }

  .contact {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .list {
      gap: 5rem;
    }
  }

  .demo {
    flex-direction: column;
    padding: 20px;
    .demohead{
      display: flex;
    }
    .text{
      display: none;
    }

    .img{
display: flex;
align-items: center;
flex: 1;
div{
  flex: 0.5;
}
span{
  width: 208px !important;
  flex: 0.7;
}
    }

    .readMore {
      // margin: unset;
      margin-top: 49px;
      margin-bottom: 40px;
      // width: unset;
      // display: flex;
      // align-self: flex-start;
    }
  }

  .inspired {
    background-position: center;
    .para {
      text-align: center;
      line-height: 18px;
      font-weight: 600;
    }

    .heading {
      font-size: 30px;
      line-height: 60px;
    }
  }

  .partner {
    flex-direction: column;

    .container {
      flex-direction: column;
      gap: 5rem;
    }

    .boldText{
      display: none;
    }
    .readMore {
      width: unset;
      height: unset;
      display: flex;
      align-self: center;
    }
  }

  .support {
    flex-direction: column;
    gap: 3rem;
    .supportHead{
      display: flex;
    }
    .text {
      display: none;
    }
    .img{
      display: flex;
      gap: 10px;
      .para{
        display: block;
        flex: 0.4;
      }
      span{
        flex: 0.6;
      }
    }

    .readMore {
      width: unset;
      height: unset;
      display: flex;
      justify-content: center;
    }
  }

  .help {
    width: unset;
    padding: 5rem;
    flex-direction: column;
    align-items: center;

    .img {
      // flex-direction: column;
      gap: 5rem;
      font-size: 2.5rem;
    }
  }

  .contactIcon {
    width: 40px;
    margin: 0 auto;
  }

  .boldPara {
    font-size: 18px;
    line-height: 25px;
  }

  .para {
    font-size: 14px !important;
  }
}
