@import "./colors";
@import "./mixins.scss";

.landingContainer {
  background-image: url("../public/polygonal-blue-abstract-background-shapes-network-neural-connections-big-data-neural-concept.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.heading1 {
  font-family: Outfit;
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: 0em;
  text-align: center;
}
.heading {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
}

.para {
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
}

.readMoreText {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  color: $white;
  margin-bottom: 2rem;
}

.darkLayer {
  background-color: rgba(0, 0, 0, 0.767);
  height: 100%;
}

.landingPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 6rem;

  .landingText {
    font-family: Inter;
    font-style: normal;
    margin: auto;
    max-width: 60%;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 4rem;
    color: #fff;
  }
}

.readMore {
  width: 15.9rem;
  height: 4.7rem;
  margin: auto;
}

.support,
.demo {
  display: flex;
  padding: 10rem 6rem;
  align-items: center;
  .text,
  .img {
    flex: 1;
  }
  .readMore {
    margin: unset;
    margin-top: 4rem;
  }
}

.demo {
  .img,
  .text {
    flex: unset;
  }
  justify-content: space-between;
}

.help {
  width: 50%;
  text-align: center;
  margin: auto;
  .img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
  }

  .label {
    margin: 3rem 0;
    background: #0f0f0f;
    border-radius: 1rem;
    padding: 1.8rem 6.4rem;

    // font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
  }
}

.colorOrange {
  color: $orange;
}

.inspired {
  background-image: url("../public/silhouette-people-happy-time.png");
  @include bg-norepeat-cover;
  height: 47.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
}

.boldText {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
}

.boldPara {
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4rem;
}

.partner {
  display: flex;
  padding: 9rem 6rem;
  gap: 4.4rem;
  align-items: center;

  .readMore {
    margin: unset;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .percent {
    font-family: Inter;
    font-size: 10rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.trust,
.contact {
  background: #0f0f0f;
  border-radius: 1rem;
  padding: 2rem 6rem;

  .boldText {
    margin-bottom: 2.7rem;
  }

  .boldText {
    text-align: center;
  }

  .list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    li {
      text-align: center;

      font-family: Inter;
      font-size: 3rem;
      font-style: italic;
      font-weight: 600;
      line-height: 7.5rem;
      color: rgba(243, 243, 243, 0.6);
    }
  }
}

.contact {
  .list {
    justify-content: space-around;
  }

  li {
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: justified;
    color: $white;
  }
}

@media screen and (max-width: 450px) {
  .landingContainer {
    height: 70vh;
    background-position: center;
    align-items: center;
    .landingPage {
      padding: 5rem;
      margin: unset;
      justify-content: center;
      height: 100%;
    }

    .landingText {
      margin: unset;
      max-width: unset;
    }
    .readMore {
      width: fit-content;
      align-self: center;
      height: unset;
      margin: unset;
    }
  }

  .trust,
  .contact {
    .list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .contact {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .list {
      gap: 5rem;
    }
  }

  .demo {
    flex-direction: column;

    .readMore {
      margin: unset;
      margin-top: 4rem;
      margin-bottom: 4rem;
      width: unset;
      display: flex;
      align-self: flex-start;
    }
  }

  .inspired {
    background-position: center;
    .para {
      text-align: center;
    }
  }

  .partner {
    flex-direction: column;

    .container {
      flex-direction: column;
      gap: 5rem;
    }

    .readMore {
      width: unset;
      height: unset;
      display: flex;
      align-self: flex-start;
    }
  }

  .support {
    flex-direction: column;
    gap: 3rem;
    .text {
      text-align: center;
    }

    .readMore {
      width: unset;
      height: unset;
      display: flex;
      justify-content: center;
    }
  }

  .help {
    width: unset;
    padding: 5rem;
    flex-direction: column;
    align-items: center;

    .img {
      flex-direction: column;
      gap: 5rem;
      font-size: 2.5rem;
    }
  }
}
