@import "./colors";
@import "./mixins.scss";

.home {
  background-color: $black;
  overflow-x: hidden;
}
.landingContainer {
  background-image: url("../public/compressed/landing-page-banner.png");

  // background-image: url("../public/landingBg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.heading1 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 8.5rem;
  letter-spacing: 5%;
  font-family: "Outfit", sans-serif;
}

.heading2 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 600;
  font-family: Outfit;
  font-style: normal;
}

.heading3 {
  font-family: Outfit;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}

.heading1,
.heading2,
.heading3 {
  color: $white;
}

.readMoreText {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  color: $white;
  margin-bottom: 20px;
}

.para {
  // font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: $white;
}

.darkLayer {
  // background-color: rgba(0, 0, 0, 0.767);
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
}

.landingPage {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;

  // margin-bottom: 6rem;
  padding-bottom: 6rem;
  .heading1 {
    width: 82.2rem;
    // margin: auto;
  }

  .mainText {
    gap: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landingText {
    font-family: Inter;
    font-style: normal;
    // margin: auto;
    max-width: 60%;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 4rem;
    color: rgba(251, 251, 251, 0.8);
  }
  .readMore {
    width: fit-content;
    height: 4.7rem;
    // margin: auto;
  }
}

// balck box section styling

.balckBoxContainer {
  background-image: url("../public/Group.png");
  background-size: contain;
  min-height: 100vh;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  position: relative;
  overflow-x: hidden;

  .heading1 {
    z-index: 5;
    width: 60%;
  }

  .chokidarImg {
    position: absolute;
    width: 62.9rem;
    height: 46.4rem;
    right: -26rem;
    user-select: none;
    z-index: 2;
  }

  .balckBoxIconList {
    display: flex;
    justify-content: space-between;
    width: 60%;
    z-index: 5;
  }

  .backBoxListText {
    font-family: Inter;
    font-style: normal;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
  }
  .blackBoxIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    &:first-child {
      .balckBoxIconImg {
        // height: 80px;
        width: 79px;
        img {
          width: 110px !important;
        }
      }
    }
  }

  .balckBoxIconImg {
    width: 89px;
    height: 100px;
    display: flex;
    align-items: flex-end;
  }
}

// revolution through change container
.revolutionaCotainer {
  // background-color: $black;
  margin-top: 33px;
  text-align: center;
  min-height: 100vh;

  .heading2 {
    width: 40%;
    margin: auto;
  }

  .revolutionList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 15.3rem;
    display: flex;
    align-items: baseline;
  }

  .revolutionItemText {
    color: $white;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 5rem;
    text-align: center;
  }
  .revolutionItemImg {
    position: relative;

    .imgGlow {
      position: absolute;
      left: 30%;
      width: 110px;
      height: 110px;
      background-color: rgba(35, 156, 124, 0.6);
      border: 3px solid rgba(251, 251, 251, 0.05);
      filter: blur(60px);
    }
  }

  .revolutionCardSubHeading {
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 600;
  }

  .revolutionCard {
    width: 80%;
    margin: 3rem auto;
    position: relative;
    overflow: hidden;

    border-radius: 1rem;
    @include glassCard;

    .circle1,
    .circle2,
    .circle3 {
      position: absolute;
      width: 18rem;
      height: 38rem;
      @include glowCircle;
      z-index: 5;
    }

    .circle1 {
      left: 172px;
      top: -274px;
    }

    .circle2 {
      left: -7.6rem;
      top: 18.8rem;
      // background: rgba(35, 156, 124, 0.6);
      // bottom: 0;
    }
    .circle3 {
      width: 14.9rem;
      height: 14.9rem;
      right: -8rem;
      top: 9rem;
      filter: blur(50px);
    }

    .revolutionCardList {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 4rem 3rem 1rem 3rem;
      z-index: 9;
      gap: 30px;
    }
  }

  .revolutionCardSubHeading,
  .revolutionCardText {
    color: $white;
    font-size: 20px;
    font-family: Inter;
    line-height: 30px;
  }

  .revolutionCardSubHeading {
    padding-top: 30px;
  }

  .revolutionCardText {
    padding-top: 10px;
  }
}

.revolutionAtomImg {
  animation: spin 2.5s linear infinite;
  width: fit-content;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Protokollo section
.protokolloContiner {
  position: relative;
  // background-color: $black;
  text-align: center;
  padding-top: 17.5rem;
  padding-bottom: 10rem;

  .protokolloBg1 {
    position: absolute;
    width: 75.9rem;
    height: 36.3rem;
    left: 74.9rem;
    top: 8rem;
    background-image: url("../public/toppng_1.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .protokolloBg2 {
    position: absolute;
    width: 75.9rem;
    height: 36.3rem;
    left: -27.2rem;
    bottom: 20.5rem;
    background: url("../public/toppng_2.png");
    background-image: url("../public/toppng_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
  }

  .protokolloSummary {
    padding-top: 3rem;
    padding-bottom: 3.9rem;
    width: 48.5%;
    margin: auto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(251, 251, 251, 0.8);
  }

  .protocolList {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: auto;
    padding-top: 6rem;
  }

  .protocolItemText {
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: justified;
    color: $white;
    margin-top: 2rem;
    opacity: 0.5;
  }
}

.aditionalProtoKollo {
  .carouselBtn {
    display: none;
  }
  .aditionalProtoKolloBgImg {
    background-image: url("../public/compressed/banner-home-AI-and-fusion-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .aditionalProtoKolloLeft,
  .aditionalProtoKolloRight {
    width: 36%;
    min-height: 100%;
    background: rgba(7, 7, 7, 0.8);
    padding: 3.4rem 3.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .readMoreText {
    text-align: right;
  }
}

// Case Studies section

.caseStudies {
  min-height: 100vh;
  // background-color: $black;
  text-align: center;
  padding-top: 10rem;

  .heading2 {
    line-height: 5rem;
  }
  .cardList {
    display: flex;
    justify-content: space-between;
    padding: 3.9rem 5.4rem;

    .cardItem {
      width: 42.7rem;
      height: 42.7rem;

      // background: rgba(15, 15, 15, 0.5);
      // border-radius: 10px;

      .caseStudiesCard {
        position: relative;
        background-color: gray;
        font-family: Inter;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 5rem;
        letter-spacing: 0em;
        text-align: center;
        color: $white;
        padding: 5rem;
        @include centralized;
      }

      .cardImg3 {
        background-image: url("../public/soldier-using-virtual-tablet-hologram-army-technology_1.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
      .cardImg1 {
        background-image: url("../public/coast.png");
      }
      .cardImg2 {
        background-image: url("../public/interior-view-steel-factory_1.png");
      }
    }
  }
}

.networkingContainer {
  .networkingText {
    width: 40%;
  }
  .networking {
    position: relative;
    // background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 6rem;
    z-index: 10;

    .readMore {
      width: fit-content;
      height: 4.7rem;
    }

    .globeBg {
      z-index: -9;
      position: absolute;
      width: 58.2rem;
      height: 58.2rem;
      top: 0;
      background-image: url("../public/icons/globe.svg");
    }

    .colorFade {
      position: absolute;
      height: 100%;
      width: 70%;
      left: -25.2rem;
      top: 8.8rem;
      z-index: -10;
      background: rgba(35, 156, 124, 0.9);
      border: 3px solid rgba(251, 251, 251, 0.05);
      box-sizing: border-box;
      filter: blur(600px);
    }
  }
}

.dNone {
  display: flex;
}

.landingBreak {
  display: none;
}

@media screen and (max-width: 1032px) {
  .landingBreak {
    display: block;
  }
  .dNone {
    display: none !important;
  }

  .landingContainer {
    height: 666px;
    .heading1,
    .landingText,
    .readMore {
      width: unset;
      margin: unset;
    }

    .heading1 {
      font-size: 40px;
    }

    .landingText {
      max-width: unset;
      padding-left: 4rem;
      padding-right: 4rem;
      font-size: 24px;
      line-height: 34px;
    }

    .landingPage {
      height: 100%;
      justify-content: center;
      gap: 9rem;
    }
  }

  .balckBoxContainer {
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    min-height: 295px;
    .heading1 {
      font-size: 30px;
      line-height: unset;
      width: 73%;
    }

    .chokidarImg {
      opacity: 0.95;
      width: 193px;
      height: 135px;
      right: -80px;
    }
    .balckBoxIconList {
      // flex-direction: column;

      .blackBoxIcon {
        &:first-child {
          .balckBoxIconImg {
            // height: 80px;
            // width: 79px;
            img {
              width: 50px !important;
            }
          }
        }
      }
      .balckBoxIconImg {
        width: 49px;
        margin-bottom: 10px;
      }
      width: unset;
      // align-items: flex-end;
      // padding-left: 4rem;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 2px;
      }
      gap: 5rem;
    }
  }

  .revolutionCard {
    padding: 1rem 1rem;
    // width: 100% !important;
    // margin: unset !important;
    margin: 0 1rem;

    .readMoreText {
      span {
        font-size: 3rem !important;
      }
    }
  }

  .revolutionList,
  .revolutionCardList {
    width: unset;
    padding: 10rem 6rem !important;
    gap: 5rem;
    justify-content: flex-start;
    // flex-wrap: wrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }
    .revolutionItemText {
      line-height: unset;
      margin-top: 10px;
    }
  }

  .revolutionCardText {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .revolutionCardSubHeading {
    font-size: 3rem !important;
  }

  .revolutionCardList {
    padding: 0 3rem !important;
    padding-top: 10px !important;
    flex-direction: column;
    margin-bottom: 8rem;
    .revolutionCardImage {
      width: 49px;
      margin: auto;
    }
  }

  .revolutionaCotainer {
    margin: unset;
    .heading2 {
      width: 60%;
      margin: auto;
    }
  }

  .revolutionItem {
    width: fit-content;
  }

  .networkingContainer {
    .networkingText {
      width: 75%;
    
    }
    .networking {
      flex-direction: column;
      min-height: unset;

      .heading2,
      .heading3,
      .readMore {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
      }

      .heading3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: "Inter";
        width: 80%;
        margin: auto;
      }

      .heading3 {
        opacity: 0.8;
      }

      .readMore {
        width: unset;
        height: unset;
        font-weight: 500;
        // float: left;
      }
    }
    .networkingText {
      flex: 0.2;
      height: fit-content;
      padding-bottom: 4rem;
      .readMore {
        width: fit-content;
        margin: 0 auto;
      }

      .globeBg {
        background-size: contain;
        background-position: center;
      }
    }
    .networkingImg {
      width: 25rem;
      // height: 75.5rem;
      overflow: hidden;
    }
  }

  .protokolloContiner {

    .heading3{
      font-size: 16px;
    }
    .protokolloBg1 {
      left: unset;
      right: 0;
    }
    .protokolloBg1,
    .protokolloBg2 {
      opacity: 0.5;
    }
    .protokolloSummary {
      width: unset;
      padding-left: 4rem;
      padding-right: 4rem;
      font-size: 14px;
    }

    .protocolList {
      width: 100%;
      justify-content: space-between;
      padding: 3rem;
      gap: 4rem;
    }
  }
  .aditionalProtoKollo {
    margin-bottom: 5rem;
    .carouselBtn {
      display: flex;
      justify-content: center;
      svg {
        font-size: 25px;
      }
    }
    .aditionalProtoKolloBgImg {
      min-height: 70vh;
      background-position: center;
    }

    .aditionalProtoKolloRight {
      display: none;
    }

    .aditionalProtoKolloLeftImg {
      margin: auto;
      padding-bottom: 4rem;
      order: -1;
    }

    .aditionalProtoKolloLeft,
    .aditionalProtoKolloRight {
      // display: none;
      width: unset;
      justify-content: center;

      // width: 36%;
      min-height: 100%;
      background: unset;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 45%,
        rgba(0, 0, 0, 0.692) 0%
      );
      // background-size: 200px 200px;
      background-position: bottom;
      padding: 3.4rem 3.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading2,
      .para.readMore {
        text-align: center;
      }

      .para {
        font-size: 3rem;
        text-align: center;
        color: #f3f3f3;
        line-height: unset;
        margin: 3rem 0;
      }

      .readMoreText {
        text-align: center;
        font-size: 3.5rem;
        font-family: Inter;
        font-weight: bold;
      }
    }
  }

  .revolutionList {
    gap: 80px;
  }

  .revolutionItemImg {
    position: relative;
    width: 49px;
    margin: auto;
    img {
      height: 49px !important;
    }

    .imgGlow {
      position: absolute;
      left: -30% !important;
      width: 60px;
      height: 60px;
      background-color: rgba(35, 156, 124, 0.6);
      border: 3px solid rgba(251, 251, 251, 0.05);
      filter: blur(60px);
    }
  }

  .protocolImg {
    width: 46px;
    margin: auto;
    height: 43px;
  }

  .protocolItemText {
    font-size: 14px !important;
  }
}

// @media screen and (max-width: 550px) {
//   .networkingContainer {
//     .networking {
//       flex-direction: column;
//       min-height: 100vh;

//       .readMore {
//         width: unset;
//         height: unset;
//         float: left;
//       }
//     }
//     .networkingText {
//       flex: 0.2;
//       height: fit-content;

//       .globeBg {
//         background-size: contain;
//       }
//     }

//   }
// }
