@import "./colors";
@import "./mixins.scss";

.heading1 {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0em;
  text-align: center;
}

.boldText {
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5rem;
}

.grayText {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: rgba(228, 228, 231, 0.6);
}

.landingContainer {
  background-image: url("../public/professional-programmer-working-late-dark-office.png");
  @include bg-norepeat-cover;
}

.landingPage {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  height: 533px;

  .landingText {
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
  }
}

// dhar
.heading {
  font-family: "Outfit";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: 0em;
  color: $white;
  margin-bottom: 2.2rem;
  margin-top: 8rem;
}
.dhar {
  color: $white;
  padding-left: 6.2rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dharPoints {
  display: flex;
  margin-top: 2.8rem;
}

.dharItem {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 4.9rem;
}

.dharItemStyle {
  width: 4px;
  height: 7.7rem;

  background: rgba(1, 143, 106, 0.85);
  box-shadow: -6px 0px 30px 8px rgba(169, 255, 233, 0.15);
  border-radius: 6px 0px 0px 6px;
  transform: rotate(180deg);
}
.dharText {
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  width: 70.8rem;
  display: flex;
}

.apply {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.field {
  height: 59px;
  background-color: #232323;
  display: flex;
  align-items: center;
  input {
    flex: 1;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .landingContainer {
    background-position: center;
  }

  .dhar {
    flex-direction: column;
    padding: 5.5rem;
  }

  .chokidrBackImg {
    width: 20rem;
    padding-bottom: 5rem;
  }

  .dharText {
    width: fit-content;
  }
}
