@import "./colors";
@import "./mixins.scss";

.heading1 {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0em;
  text-align: center;
}

.boldText {
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5rem;
}

.grayText {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: rgba(228, 228, 231, 0.6);
}

.landingContainer {
  background-image: url("../public/professional-programmer-working-late-dark-office.png");
  @include bg-norepeat-cover;
  min-height: 533px;
  background-position: center;
}

.landingPage {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;

  .landingText {
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
  }
}

// dhar
.heading {
  font-family: "Outfit";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: 0em;
  color: $white;
  margin-bottom: 20px;
}
.dhar {
  margin-top: 60px;
  color: $white;
  padding-left: 6.2rem;
  // padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  .heading {
    margin-top: 10px;
  }

  .content,
  .chokidrBackImg {
    flex: 1;
  }
}

.dharPoints {
  display: flex;
  margin-top: 60px;
}

.dharItem {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 4.9rem;
  // background-color: red;
  height: fit-content;
}

.dharText {
  // display: flex;
  div {
    background: rgba(1, 143, 106, 0.85);
    box-shadow: -6px 0px 30px 8px rgba(169, 255, 233, 0.15);
    border-radius: 6px 0px 0px 6px;
    padding-right: 4px;
    margin-right: 25px;
  }
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  // width: 70.8rem;
  display: flex;
}

.apply {
  // background-image: url("../public/top-view-person-writing-laptop-with-copy-space.png");
  // background-repeat: no-repeat;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  .heading {
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 598px;
  background-color: #0f0f0f;
  padding: 40px;
  border-radius: 10px;
  margin-top: 40px;
}
.field {
  height: 59px;
  background-color: #232323;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  .fieldIcon {
    flex: 0.1;
  }
  .fieldInput,
  input {
    font-size: 12px;
    line-height: 30px;
    font-family: Inter;
    border: none;
    outline: none;
    background-color: #232323;
    color: rgba(255, 255, 255, 0.6);
    flex: 1;
    height: 100%;
    width: 100%;
  }

  .uploadField {
    position: relative;
    display: flex;
    align-items: center;
  }

  .uploadField span {
    color: rgba(255, 255, 255, 0.4);
  }

  input[type="file"] {
    position: absolute;

    flex: unset;
    background-color: red;
    left: 0;
    opacity: 0;
  }
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
  padding-top: 62px;
  padding-bottom: 20px;
}

.applyContainer {
  display: flex;
  gap: 20px;
  .applyImg,
  .form {
    flex: 1;
  }
  // background-image: url("../public//");
}

@media screen and (max-width: 1020px) {
  .landingContainer {
    background-position: center;
    background-image: url("../public/professional-programmer-working-late-dark-office-sm.png");
  }
  .landingPage {
    .heading1 {
      font-size: 40px;
      line-height: 50px;
    }
    .landingText {
      font-size: 24px;
      line-height: 27px;
    }
  }

  .dhar {
    flex-direction: column;
    padding: 5.5rem;
  }

  .chokidrBackImg {
    width: unset;
    padding-bottom: 5rem;
  }

  .dharText {
    width: fit-content;
    font-size: 14.5px;
    line-height: 20px;
  }

  .applyContainer {
    flex-direction: column;
    margin: auto;
  }
}
