@import "./colors";
@import "./mixins.scss";

.platform {
  background-color: $black;
}

.landing {
  background-image: url("../public/platformLanding.png");
  @include bg-norepeat-cover;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: initial;
  padding: 0 3.5rem;
  flex: 1;
}

.landingText {
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $white;
  width: 84.2rem;
}

// card section
.cardList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 8rem 6rem;
  gap: 2.5rem;
}

// salient feature section
.salientFeature {
  margin-top: 5rem;
}

.slientHeading {
  @include heading2;
  color: $white;
  padding-bottom: 2.5rem;
  text-align: center;
}

.featuresCard {
  @include glassCard;
  background: #0f0f0f;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  position: absolute;
  @include glowCircle;
  z-index: 5;
}

.circle1 {
  position: absolute;
  width: 14.9rem;
  height: 14.9rem;
  left: -7.6rem;
  top: 18.8rem;
}
.circle2 {
  width: 20.8rem;
  height: 20.8rem;
  left: 20rem;
  top: -15.4rem;
}
.circle3 {
  width: 11.5rem;
  height: 11.5rem;
  left: 66.2rem;
  top: 23.3rem;
}

.circle4 {
  width: 14.9rem;
  height: 14.9rem;
  right: 10rem;
  top: 11.3rem;
}

.featureList {
  color: $white;
  display: flex;
  justify-content: space-evenly;
}
.featureItem {
  text-align: center;
}

.featureText {
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  width: 194px;
  margin-top: 1rem;
}

// test network section
.testNW {
  background-image: url("../public/cloud-computing-banner-background-smart-city-1.png");
  @include bg-norepeat-cover;
  height: 41.8rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.testNWheading {
  @include heading2;
  color: $white;
  font-family: Outfit;
  line-height: 6rem;
  text-align: center;
  width: 55.9rem;
}

// use case section

.useCase {
  padding: 10rem 6rem;
  color: $white;
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 2rem;
}

.useCaseText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.useCaseHeading {
  font-family: Outfit;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0em;
  text-align: left;
}

.useCaseSummary {
  //   font-family: Source Sans Pro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  text-align: justified;
}
.useCaseReadMore {
  @include readMoreText;
}

.network {
  background-image: url("../public/modern-tech-background.png");
  height: 45.4rem;
  @include bg-norepeat-cover;
}

.network {
  color: $white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.netowrkImg {
  //   width: 100%;
  // transform: scale(1.3);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.networkTextContainer {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.networkHeading {
  font-family: Outfit;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  //   line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.networkText {
  font-family: Outfit;
  padding-top: 1.5rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0em;
  text-align: left;
}

.contactBtn {
  //   margin-top: 39px;
  text-align: center;
  width: 17.5rem;
  height: 6rem;
  z-index: 10;

  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  //   line-height: 30px;
}

// network cards

.platformCard {
  width: 65rem;
  height: 73.9rem;
  background: #0f0f0f;
  border-radius: 10px;
}

.platformCardImage {
  border-radius: 10px 10px 0px 0px;
}

.platformTextContainer {
  padding: 2.2rem 5.3rem;
  text-align: center;
}

.platformCardHading {
  font-family: Outfit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 5rem;
  color: $white;
  //   text-align: left;
}

.platformCardText {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
  color: #fbfbfbcc;
}

@media screen and (max-width: 1173px) {
  .landingText {
    text-align: center;
    width: unset;
  }

  .platformCard {
    height: unset;
    min-height: 60rem;
    // height: 45rem;
  }

  .salientFeature {
    .featureList {
      justify-content: unset;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 2px;
      }
      // flex-direction: column;
      // gap: 5rem;
    }

    .featureItem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .circle3 {
      width: 11.5rem;
      height: 11.5rem;
      right: 0;
      left: unset;
      top: 80%;
    }
  }
  .slientHeading {
    font-size: 5rem;
    width: 100%;
  }

  .useCase {
    flex-direction: column;

    .useCaseReadMore {
      font-size: 2.5rem;
    }

    .useCaseSummary {
      margin-top: 1rem;
    }
  }

  .network {
    height: unset;
    flex-direction: column;
    padding: 0 4rem 2rem 4rem;
    background-position: center;

    .netowrkImg {
      transform: unset;
      width: 100%;
      padding: 0;
    }

    .networkTextContainer {
      width: unset;
      .networkHeading,
      .networkText {
        text-align: center;
      }

      .contactBtn {
        margin-top: 5rem;
        width: unset;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
