.container {
  display: flex;
  color: black;
  min-height: 100vh;
}

.formHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Source Sans Pro";
  font-style: normal;
}

.label {
  margin-top: 18px;
  margin-bottom: 52px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  font-family: "Source Sans Pro";
}

.form {
  background-color: #fff;
}

.formContainer {
  max-width: 450px;
  margin: auto;
  padding: 5rem 0;
}

.form,
.info {
  flex: 1;
}

.header {
  padding: 50px 60px;
  .logo {
    cursor: pointer;
  }
  width: fit-content;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.radioField {
  display: flex;
  justify-content: space-between;

  .radioOptions {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }

  .fieldLabelText {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    // line-height: 30px;
    color: rgba(46, 48, 52, 0.4);
  }
  .radioIcon {
    color: rgba(46, 48, 52, 0.4);
  }
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.info {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #018f6ad9;
  background-image: url("../public/green-dotted-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  width: 80%;
  height: 526px;
}

.para {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-align: center;
  width: 499px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.heading {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}

.countryDrop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(46, 48, 52, 0.4);

  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  .cLeft {
    display: flex;
    gap: 17px;
  }
}

.selfInvite {
  display: flex;
  flex-direction: row !important;

  .img {
    width: 299px;
    height: 578px;
    padding: 3rem;
  }

  .text {
    flex: 0.5;
  }
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .header {
    text-align: center;
    margin: auto;
    padding: 22px;
  }

  .info {
    padding-top: 34px;
    min-height: 450px;
    justify-content: flex-start;
    flex: unset;
  }

  .img {
    width: 70%;
    height: 158px;
  }

  .phoneImg {
    img {
      width: 123px !important;
      height: 239px !important;
    }
    display: flex;
    justify-content: center;
  }

  .selfInvite{
    padding: 0 28px;
    .phoneImg, .text{
flex: 1;
    }
   
    .text{
.para{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
     
    }
  }

  .para {
    width: unset;
    padding: 10px 17px;
  }

  .form {
    order: 2;
    flex: unset;
  }
  .formContainer {
    padding: 27px;
    .formHeader {
      align-items: center;
    }
  }

  .radioIcon {
    svg {
      font-size: 20px;
    }
  }
}
