.container {
  display: flex;
  color: black;
  min-height: 100vh;
}

.formHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Source Sans Pro";
  font-style: normal;
}

.label {
  margin-top: 18px;
  margin-bottom: 52px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  font-family: "Source Sans Pro";
}

.form {
  background-color: #fff;
}

.formContainer {
  max-width: 450px;
  margin: auto;
  padding: 5rem 0;

}

.form,
.info {
  flex: 1;
}

.header {
  padding: 50px 60px;
  .logo {
    cursor: pointer;
  }
  width: fit-content;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.btn {
  margin: 0 auto;
}


.info{
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #018F6AD9;
;
}

.img{
  width: 626px;
  height: 526px;
}

.para{
  font-family: 'Source Sans Pro';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.015em;
text-align: center;
width: 499px;
padding-top: 30px;
padding-bottom: 30px;

}

.heading{
  font-family: Source Sans Pro;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px;
letter-spacing: 0px;
text-align: center;

}