@import "./colors";
@import "./mixins.scss";

.heading {
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  color: $white;
}

.landing {
  @include bg-norepeat-cover;
  min-height: 521px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: $white;
  // overflow-x: hidden;

  .glowCircle {
    position: absolute;
    @include glowCircle;
    z-index: 5;
    width: 70rem;
    height: 60%;
    right: 10%;
    top: 8.3rem;
    filter: blur(60rem);
  }

  .container {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5.9rem;
    padding-right: 5.9rem;
    z-index: 5;
    gap: 8rem;
  }

  .img {
    flex: 0.4;
  }
  .textContainer {
    flex: 0.6;
  }

  .landingText {
    font-family: Outfit;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 2.2rem;
  }

  .para {
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem;
    color: $text_light;
  }
}

// device list
.deviceList {
  background-color: rgba(7, 7, 7, 1);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 7rem;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img {
      width: 58px;
      height: 58px;
    }
    .text {
      font-family: Inter;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 5rem;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
    }
  }
}

.aditionalProtoKollo {
  margin: 8rem 0;
  .carouselBtn {
    display: none;
  }
  .aditionalProtoKolloBgImg {
    background-image: url("../public/road-with-trafic.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .aditionalProtoKolloLeftImg {
    width: 100%;
  }

  .aditionalProtoKolloLeft,
  .aditionalProtoKolloRight {
    flex: 0.35;
    min-height: 100%;
    background: rgba(7, 7, 7, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .textContainer {
    padding-left: 6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .heading {
      font-family: Inter;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 5rem;
      color: $white;
    }

    .para {
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      color: $text_light;
    }
    .readMoreText {
      margin-top: 1.9rem;
      width: fit-content;
    }
  }
}

.sf {
  display: flex;
  justify-content: space-between;
  color: $white;
  padding: 10rem 0 10rem 5.9rem;
}
.label {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  text-align: justified;
  margin-bottom: 2.2rem;
  color: $text_light;
}
.sfList {
  margin-bottom: 1.8rem;
}

.readMoreText {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: $white;
  width: fit-content;
}

.alterList {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  .ml {
    margin-left: 60px;
  }
}
.dNone {
  display: flex;
}

.csaImg {
  width: 702px;
  height: 527px;
}

.sfLabel {
  margin-left: 58px;
}

.sml {
  margin-left: 20px;
}
.smr {
  margin-right: 20px;
}

@media screen and (max-width: 550px) {
  .sfLabel {
    margin: auto;
  }
  .csaImg {
    width: unset;
    height: unset;
  }
  .landingText {
    text-align: center;
    font-size: 40px;
    line-height: 18px;
  }
  .textContainer {
    .para {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
  }
  .readMoreText {
    font-size: 2.5rem;
  }
  .dNone {
    display: none !important;
  }
  .landing {
    .glowCircle {
      width: 35rem;
      left: 30%;
      filter: blur(100px);
    }

    .container {
      flex-direction: column;
      justify-content: center;
      .img {
        order: -1;
        flex: unset;
      }
    }

    .textContainer {
      flex: unset;
    }
    .landingText {
      line-height: unset;
    }
  }
  .sf {
    margin-bottom: 5rem;
    padding: 8rem;
    flex-direction: column;
    gap: 5rem;
  }
  .deviceList {
    // flex-direction: column;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 2px;
    }
    gap: 6.8rem;
    align-items: flex-start;

    .img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px !important;
    }

    .text {
      text-align: center !important;
      font-size: 14px !important;
      line-height: 20px !important;
    }
  }

  .aditionalProtoKollo {
    margin-bottom: 5rem;
    .carouselBtn {
      display: flex;
      justify-content: center;
      svg {
        font-size: 25px;
      }
    }
    .aditionalProtoKolloBgImg {
      min-height: 70vh;
      background-position: center;

      .text,
      .heading,
      .readMoreText {
        text-align: center;
        margin: 0 auto;
      }

      .readMoreText {
        margin-top: 13px;
        margin-bottom: 13px;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .aditionalProtoKolloRight {
      display: none;
    }

    .aditionalProtoKolloLeftImg {
      padding-bottom: 4rem;
      order: -1;
    }

    .aditionalProtoKolloLeft,
    .aditionalProtoKolloRight {
      width: unset;
      justify-content: center;
      flex: unset;
      min-height: 100%;
      background: unset;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.692) 0%
      );
      background-position: bottom;
      padding: 3.4rem 3.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .label {
    font-size: 14px;
    line-height: 20px;
  }
  .alterList {
    gap: 40px !important;
    margin-bottom: 0;
    .ml6 {
      margin: unset;
    }
  }

  .ml {
    margin: 0 !important;
  }
}

@media screen and (min-width: 550px) and (max-width: 968px) {
  .dNone {
    display: none !important;
  }

  .aditionalProtoKollo {
    margin-bottom: 5rem;
    .carouselBtn {
      display: flex;
      justify-content: center;
      svg {
        font-size: 25px;
      }
    }
    .aditionalProtoKolloBgImg {
      min-height: 70vh;
      background-position: center;

      .text,
      .heading,
      .readMoreText {
        text-align: center;
        margin: 0 auto;
      }
    }

    .para {
      text-align: center;
    }

    .aditionalProtoKolloRight {
      display: none;
    }

    .aditionalProtoKolloLeftImg {
      padding-bottom: 4rem;
      order: -1;
    }

    .aditionalProtoKolloLeftImg,
    .aditionalProtoKolloRightImg {
      display: flex;
      justify-content: center;
    }

    .aditionalProtoKolloLeft,
    .aditionalProtoKolloRight {
      width: unset;
      justify-content: center;
      flex: unset;
      min-height: 100%;
      background: unset;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.692) 0%
      );
      background-position: bottom;
      padding: 3.4rem 3.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  // .aditionalProtoKollo {
  //   min-height: unset;
  //   .aditionalProtoKolloLeft, .aditionalProtoKolloRight{
  //     flex: 0.45;
  //   }
  // // display: none;
  // }
}

@media only screen and (min-width: 551px) and (max-width: 1177px) {
  .landing {
    .landingText {
      line-height: 70px;
      // display: none;
    }

    .container {
      // flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
      gap: 30px;
      flex-wrap: wrap-reverse;
      .textContainer {
        flex: unset;
        text-align: center;
      }
      .img {
        margin: auto;
        flex: unset;
        min-width: 250px;
      }
    }
  }

  .deviceList {
    padding: 30px 30px;
    gap: 20px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    .item {
      .text {
        text-align: center;
        line-height: 30px;
        min-width: 162px;
      }
    }
  }

  .aditionalProtoKollo {
    .textContainer {
      padding: 20px;
    }
  }
}
